@import url(http://fonts.googleapis.com/css?family=Sofia+Sans);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all var(--_tspeed_fast) ease;
}

:root {
    --_radius: 0.2em;
    --_tspeed_fast: 250ms;
    --_tspeed_slow: 400ms;
    --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

    --color-white1: 237, 237, 237;
    --color-white2: 222, 222, 222;
    --color-white3: 194, 194, 194;
    --color-black1: 10, 10, 11;
    --color-black2: 18, 18, 23;
    --color-black3: 21, 21, 25;
    --color-blue: 12, 94, 202;
    --color-red: 249, 31, 89;
    --color-green: 174, 224, 128;
    --color-magenta: 195, 128, 224;

    /* light color scheme */
    --primary-bg--light: var(--color-white1);
    --primary-fg--light: var(--color-black2);
    --secondary-bg--light: var(--color-white2);
    --secondary-fg--light: var(--color-black1);
    --muted--light: var(--color-white3);
    --accent--light: var(--color-blue);

    /* dark color scheme */
    --primary-bg--dark: var(--color-black1);
    --primary-fg--dark: var(--color-white2);
    --secondary-bg--dark: var(--color-black2);
    --secondary-fg--dark: var(--color-white1);
    --muted--dark: var(--color-black3);
    --accent--dark: var(--color-blue);

    &[data-theme="light"] {
        --p-bg: var(--primary-bg--light);
        --p-fg: var(--primary-fg--light);
        --s-bg: var(--secondary-bg--light);
        --s-fg: var(--secondary-fg--light);
        --muted: var(--muted--light);
        --accent: var(--accent--light);
        color-scheme: light;
    }

    &[data-theme="dark"] {
        --p-bg: var(--primary-bg--dark);
        --p-fg: var(--primary-fg--dark);
        --s-bg: var(--secondary-bg--dark);
        --s-fg: var(--secondary-fg--dark);
        --muted: var(--muted--dark);
        --accent: var(--accent--dark);
        color-scheme: dark;
    }
}

/*
*   GENERAL STYLING
*/

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(var(--accent));

    b {
        text-decoration: underline;
    }

    &:hover {
        color: rgb(var(--p-fg));
        text-decoration: underline;
    }

    &.reverse {
        color: rgb(var(--p-fg));
        &:hover {
            color: rgb(var(--accent));
        }
    }
}

button {
    display: flex;
    padding: 4px 16px;
    background-color: rgb(var(--s-bg));
    color: rgb(var(--p-fg));
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all var(--_tspeed_slow) ease;

    svg {
        width: 18px;
        margin-right: 10px;
    }

    &:hover {
        color: rgb(var(--accent));
        border: 2px solid rgb(var(--accent));
        //background-color: rgb(var(--accent));
    }
}

body {
    font-family: 'Sofia Sans';
    line-height: 1.5;
    background-color: rgb(var(--p-bg));
}


.icon {
    width: 1.4em;
    color: rgb(var(--accent));
    &.external {
        fill: rgb(var(--accent));
    }

    &.ml { margin-left: 5px; }
    &.mr { margin-right: 5px; }
}

span.linespacer {
    display: block;
    height: 2px;
    width: 80%;
    margin: 10px auto;
    background-color: rgb(var(--s-bg));
}

.w-telling { //widget: used for text-pic or pic-text
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

    &-art {
        width: 300px;
        height: 300px;
        background: none;
        position: relative;
        justify-self: end;

        [data-theme="dark"] & img {
            opacity: 0.4;
        }
    }

    &-text {
        p {padding: 10px 0 0 10px;}

        &-links {
            display: flex;
            justify-content: space-evenly;
            a {
                margin: 0 10px;
                border-radius: 6px;
            }
        }
    }

    
}

.w-button {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: solid 2px rgb(var(--s-bg));
    border-radius: 8px;
    color: var(--p-fg);
    cursor: pointer;

    [data-theme="dark"] & {
        box-shadow: 0px 0px 6px 0px black;
        -webkit-box-shadow: 0px 0px 6px 0px black;
        -moz-box-shadow: 0px 0px 6px 0px black;
    }

    [data-theme="light"] & {
        box-shadow: 0px 0px 6px 0px rgb(var(--muted),0.2);
        -webkitbox-shadow: 0px 0px 6px 0px rgb(var(--muted),0.2);
        -moz-box-shadow: 0px 0px 6px 0px rgb(var(--muted),0.2);
    }

    &-icon {
        width: 50px;
        margin-right: 20px;
        color: rgb(var(--accent));
    }

    &-text {
        h3 { color: rgb(var(--p-fg)); }
        p { color: rgb(var(--s-fg)); }
    }

    &:hover {
        color: rgb(var(--accent));
        border-color: rgb(var(--accent));
    }
}

.textselector {
    display: flex;
    margin-top: 40px;
    position: relative;
    justify-content: center;
    & > * {
        position: absolute;
        &:not(.show) {
            opacity: 0;
        }
    }
}

.w-grid4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

/*
*   NAVBAR STYLING
*/

header {
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 10%;

        &>* {
            margin: 0 50px;
        }

        .title {
            svg {
                fill: rgb(var(--accent));
                width: 1.7em;
                margin-right: 10px;
            }

            font-size: 1.1em;
        }

        .links {
            a {
                display: inline-block;
                padding: 0 14px;
            }
        }

        .other {
            display: flex;
            align-items: center;

            .themeswitch {
                opacity: 0;
                margin-left: 20px;
                padding: 2px;
                display: flex;
                border: solid 2px rgb(var(--accent));
                border-radius: 50%;
                cursor: pointer;
                transition: opacity --_tspeed_slow ease;

                svg {
                    margin: 0;
                    padding: 2px;
                }

                &:hover {

                    svg {
                        fill: rgb(var(--accent))
                    }


                    
                }
            }
        }
    }

    .ontop & .container{
        position: absolute;
        width: 100%;
        z-index: 10;
    }

    .hero {
        width: 100%;
        height: 800px;
        background-color: rgb(var(--p-bg));
        background-image: url('../img/hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}



/*
*   Content STYLING
*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 60%;
    padding: 10px;

    & > * {
        margin: 100px 0;
    }
}

section.aboutme {
    margin-top: 100px;
    p {
        font-size: 1.1em;
    }
    
}

section.skills {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .textselector > * {
        width: 60%;
        .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .icons {
                display: flex;

                svg {
                    width: 40px;
                    margin: 0 5px
                }
            }
        }

        p {
            font-size: 1.1em;
        }
    }
}

section.projects {
    .title {
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .project-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;

        .project {
            margin: 40px;
            cursor: pointer;
            width: 300px;

            &-art {
                width: auto;
                height: 160px;
                background: none;
                position: relative;
                justify-self: end;

                [data-theme="dark"] & img {
                    opacity: 0.4;
                }
            }

            &-details {
                padding: 30px 20px 10px 20px;
                background-color:rgb(var(--p-bg));
                z-index: 2;

                h3::after {
                    content: 'Click for information';
                    margin-left: 15px;
                    font-size: 0.7em;
                    color: rgb(var(--accent));
                }
            }

            &:hover {
                h3{
                    color: rgb(var(--accent));
                }
            } 
        }
        & > * {
            margin: 40px;
        }
    }
}