@import url(http://fonts.googleapis.com/css?family=Sofia+Sans);
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --_radius: 0.2em;
  --_tspeed_fast: 150ms;
  --_tspeed_slow: 400ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);
  --color-white1: 237, 237, 237;
  --color-white2: 222, 222, 222;
  --color-white3: 194, 194, 194;
  --color-black1: 10, 10, 11;
  --color-black2: 18, 18, 23;
  --color-black3: 21, 21, 25;
  --color-blue: 12, 94, 202;
  --color-red: 249, 31, 89;
  --color-green: 174, 224, 128;
  --color-magenta: 195, 128, 224;
  /* light color scheme */
  --primary-bg--light: var(--color-white1);
  --primary-fg--light: var(--color-black2);
  --secondary-bg--light: var(--color-white2);
  --secondary-fg--light: var(--color-black1);
  --muted--light: var(--color-white3);
  --accent--light: var(--color-blue);
  /* dark color scheme */
  --primary-bg--dark: var(--color-black1);
  --primary-fg--dark: var(--color-white2);
  --secondary-bg--dark: var(--color-black2);
  --secondary-fg--dark: var(--color-white1);
  --muted--dark: var(--color-black3);
  --accent--dark: var(--color-blue);
}
:root[data-theme=light] {
  --p-bg: var(--primary-bg--light);
  --p-fg: var(--primary-fg--light);
  --s-bg: var(--secondary-bg--light);
  --s-fg: var(--secondary-fg--light);
  --muted: var(--muted--light);
  --accent: var(--accent--light);
  color-scheme: light;
}
:root[data-theme=dark] {
  --p-bg: var(--primary-bg--dark);
  --p-fg: var(--primary-fg--dark);
  --s-bg: var(--secondary-bg--dark);
  --s-fg: var(--secondary-fg--dark);
  --muted: var(--muted--dark);
  --accent: var(--accent--dark);
  color-scheme: dark;
}

/*
*   GENERAL STYLING
*/
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--p-fg));
}
a b {
  text-decoration: underline;
}
a:hover {
  color: rgb(var(--accent));
}
a.reverse {
  color: rgb(var(--accent));
}
a.reverse:hover {
  color: rgb(var(--p-fg));
}

button {
  display: flex;
  padding: 4px 16px;
  background-color: rgb(var(--s-bg));
  color: rgb(var(--p-fg));
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all var(--_tspeed_slow) ease;
}
button svg {
  width: 18px;
  margin-right: 10px;
}
button:hover {
  color: rgb(var(--accent));
  border: 2px solid rgb(var(--accent));
}

body {
  font-family: "Sofia Sans";
  line-height: 1.5;
  background-color: rgb(var(--p-bg));
}

.icon {
  width: 1.2em;
  color: rgb(var(--accent));
}
.icon.external {
  fill: rgb(var(--accent));
}

.w-telling {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
}
.w-telling-art {
  width: 300px;
  height: 300px;
  background: none;
  position: relative;
  justify-self: center;
  margin: 0 20px;
}
[data-theme=dark] .w-telling-art img {
  opacity: 0.4;
}
.w-telling-text-links {
  display: flex;
  justify-content: center;
}
.w-telling-text-links a {
  margin: 0 10px;
  border-radius: 6px;
}

section {
  padding: 0 30px;
}

/*
*   NAVBAR STYLING
*/
header .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10%;
}
header .container > * {
  margin: 0 50px;
}
header .container .title {
  font-size: 1.1em;
}
header .container .title svg {
  fill: rgb(var(--accent));
  width: 1.7em;
  margin-right: 10px;
}
header .container .links a {
  display: inline-block;
  padding: 0 14px;
}
.ontop header .container {
  position: absolute;
  width: 100%;
  z-index: 10;
}
header .hero {
  width: 100%;
  height: 800px;
  background-color: rgb(var(--p-bg));
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/*
*   Content STYLING
*/
main {
  display: flex;
  justify-content: center;
}
main > * {
  background-color: rgb(var(--p-bg));
  /*
  [data-theme="light"] body & { //Apply box-shadow only for light theme
      box-shadow: 0 0 15px -12px rgb(var(--p-fg));
      -webkit-box-shadow: 0 0 15px -12px rgb(var(--p-fg));
      -moz-box-shadow: 0 0 15px -12px rgb(var(--p-fg));
      clip-path: inset(0px -15px 0px -15px);
  }*/
}

.content {
  width: 60%;
  padding: 10px;
}

/*
*   ABOUT ME SECTION
*//*# sourceMappingURL=styles.css.map */