$color-white: #eeeeee;
$color-grey: #dddddd;
$color-grey2: #c1c1c1;
$color-black: #09090a;
$color-blue: #0c5ec9;
$color-red: #f9205a;
$color-green: #aee07f;
$color-magenta: #c37fe0;

$base-bg: $color-grey;
$base-fg: $color-black;
$base-highlight: $color-blue;
$base-border: $color-grey2;
$container-bg: $color-white;
$container-fg: $color-black;
$container-highlight: $color-blue;



