<header>
    <span></span>
    <div class="title">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 706.27 672.72">
            <path d="M466.51,671.76H408.24V434.23c54-36.52,108.77-73.53,165-111.57L648.16,452H580.47c-8.6-14.68-17.38-29.65-26.54-45.27l-87,58.84c-1.11,9.76-.45,18.69-.32,28.73h206l33.72,58.57H466.51Z"/>
            <path d="M365.9,483.16c-1.47-33.53-15.22-60.78-44.84-79.71-35.57-22.72-70-47.23-105-70.79-4.77-3.21-9.19-7.35-16-8.79L0,670.31c4.93,2.91,8.66,2,12.22,2,96.46.06,192.93-.28,289.38.39a62.91,62.91,0,0,0,41.9-14.66c11.8-9.58,22.44-21.16,22.72-37.07C367,575.05,367.91,529.05,365.9,483.16ZM274.34,613.32c-3.08.27-6.2,0-9.3,0H103.54l-1.53-2L220.27,406.74c11.61,7.79,22.55,15.08,33.45,22.45,6.75,4.57,13.06,10,20.22,13.75,17.65,9.34,25.78,25.19,31.31,43.1a60.76,60.76,0,0,1,2.62,18.31c-.13,25.08-.88,50.2.17,75.24C309.11,605,294.36,611.55,274.34,613.32Z"/>
            <path d="M387.14,0,221.38,286.86l165.81,112L552.82,286.92ZM299.85,268.8,387,118.06c29.95,50.86,58.63,100.43,87.19,151l-86.95,58.69C358.39,308.26,329.62,288.87,299.85,268.8Z"/>
        </svg>
        <p class="text">Arijan Nikoci</p>
    </div>
    <div class="links">
        <a href=""><b>h</b>ome</a>
        <a href=""><b>a</b>bout</a>
        <a href=""><b>p</b>rojects</a>
        <a href=""><b>c</b>ontact</a>
    </div>
    <div class="other">
        <p>login</p>
    </div>
    <span></span>
</header>